.navLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);    
    font-size: 24px;
    line-height: 24px;

    &:hover {
        text-decoration: underline;
    }

    &__ativo{
        color: var(--rosa);

        &:hover {
            text-decoration: none;
            cursor: default ;
        }
    }
}

@media (max-width: 480px) {  
    .navLink {
        color: var(--azul-escuro);
        padding-left: 30px;        
        display: flex;
        align-items: center;

        &__ativo {           
            color: var(--rosa);
            padding-left: 23px;
            border-left: 7px solid var(--azul-escuro);            
        }
    }    
}

