@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --fonte-principal: 'Rubik'; 
  --preto: #000000;
  --branco: #FFFFFF;
  --cinza: #3A3A3A;
  --vermelho: #ff0000;
  --roxo: #9900D3;
  --preto-secundario: #15191C;
  --branco-gelo: #E7F6F2;
  --azul-escuro: #041833;  
  --azul-medio: #1875E8; 
  --rosa: #e8a2d9; 
  --grey: #e4e4e4; 
}

* {  
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;  
}

